.content-wrapper {
    width: 100vw;
    max-width: 100%;
    transition: transform 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shift-content {
    transform: translateX(250px);
}
