<mat-card class="food-card" appearance="outlined">
    <div class="card-image">
      <img [src]="restaurantData.imageUrl" alt="Food image">
      <button mat-icon-button class="favorite-button">
        <mat-icon>favorite</mat-icon>
      </button>
      <p class="rating">
        {{ restaurantData.rating }} 
        <mat-icon class="star-icon">star</mat-icon> 
        <span class="exponent">({{ restaurantData.reviews | reviewFormatter }})</span>
    </p>
    </div>
  
    <mat-card-content>
      <p>
        {{ restaurantData.name }}
        <mat-icon class="check-icon">check</mat-icon>
      </p>
      <div class="info-row">
        <mat-icon class="delivery-icon">{{ restaurantData.delivery.icon }}</mat-icon>
        <span class="delivery-text">{{ restaurantData.delivery.text }}</span>
        <mat-icon class="time-icon">{{ restaurantData.time.icon }}</mat-icon>
        <span class="time-text">{{ restaurantData.time.text }}</span>
      </div>
    </mat-card-content>
  
    <mat-card-footer>
      <mat-chip-set >
        <mat-chip class="food-card" *ngFor="let tag of restaurantData.tags">{{ tag }}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
  