<div class="bg-[#2D2D3A] min-h-screen flex flex-col flex-grow p-6">
    <div class="text-white rounded-xl p-2 w-full max-w-md space-y-6 shadow-lg">
      
      <div>
        <h2 class="text-lg font-semibold text-gray-300">Shipping to</h2>
        <div class="flex items-center mt-2 space-x-4">
          
          <div class="w-16 h-16 bg-gray-700 rounded-xl flex items-center justify-center aspect-square">
            <img src="assets/location.jpg" alt="Location" class="w-full h-full rounded-xl">
          </div>
      
          <div class="leading-snug">
            <h3 class="text-xl font-semibold">Home</h3>
            <p class="text-gray-300 text-lg">4140 Parker Rd, Allentown, New Mexico 31134.</p>
          </div>
          
        </div>
      </div>
      
      <div>
        <h2 class="text-lg font-semibold text-gray-300">Payment Method</h2>
        <div class="flex items-center space-x-4 mt-2">
          
          <button *ngFor="let method of paymentMethods"
            class="flex-1 h-16 bg-transparent border border-gray-500/50 rounded-xl overflow-hidden p-0 flex items-center justify-center transition-all duration-200"
            [class.bg-white]="method.selected"
            [class.shadow-md]="method.selected">
          
          <img [src]="method.icon" [alt]="method.name" class="w-full h-full object-cover">
        
        </button>
      
        </div>
      </div>      
  
      <div class="bg-gradient-to-r from-pink-500 to-purple-500 p-6 rounded-2xl relative shadow-md w-full h-50 flex flex-col justify-between">

        <h2 class="text-sm font-semibold text-gray-200">Credit Card</h2>
      
        <div class="mt-2 text-lg font-bold tracking-widest flex justify-between">
          <span>5341</span>
          <span>1512448</span>
          <span>54887</span>
        </div>
      
        <div class="flex justify-between items-center mt-2">
          <p class="text-gray-300 text-sm">ARLENE MCCOY</p>
          <img src="assets/mastercard-icon.jpg" alt="MasterCard" class="w-10">
        </div>
      
      </div>
      
      <div class="flex justify-between items-center">
        <p class="text-lg font-semibold text-gray-300">Total Pay</p>
        <p class="text-lg font-bold">${{ total.toFixed(2) }} <span class="text-sm">USD</span></p>
      </div>
  
       <div class="flex justify-center mt-20">
          <button class="w-70 py-4 bg-orange-400 rounded-full text-white/90 font-semibold shadow-lg shadow-orange-500/30 tracking-widest hover:bg-orange-500 transition">
            CONFIRM ORDER
          </button>     
       </div> 
  
    </div>
  </div>
