<div class="bg-[#2D2D3A] min-h-screen flex flex-col flex-grow p-6 overflow-hidden">
    <div class="text-white rounded-xl p-2 w-full max-w-md space-y-6">
      
      <div>
        <h2 class="text-lg font-semibold text-gray-300">Shipping to</h2>
        <div class="flex items-center mt-2 space-x-4">
          
          <div class="w-16 h-16 bg-gray-700 rounded-xl flex items-center justify-center aspect-square">
            <img src="assets/location.jpg" alt="Location" class="w-full h-full rounded-xl">
          </div>
      
          <div class="leading-snug">
            <h3 class="text-xl font-semibold">Home</h3>
            <p class="text-gray-300 text-lg">4140 Parker Rd, Allentown, New Mexico 31134.</p>
          </div>
          
        </div>
      </div>
      
      <div>
        <h2 class="text-lg font-semibold text-gray-300">Payment Method</h2>
    
        <div class="grid grid-cols-3 gap-4 mt-2">
          <button (click)="addNewCard()"
              class="flex items-center justify-center h-16 bg-transparent border border-gray-500/50 rounded-xl overflow-hidden p-0 transition-all duration-200">
              <span class="text-orange-400 text-3xl font-bold">+</span>
          </button>
      
          <button *ngFor="let method of paymentMethods; let i = index"
              class="h-16 bg-transparent border border-gray-500/50 rounded-xl overflow-hidden p-0 flex items-center justify-center transition-all duration-200"
              [class.bg-white]="method.selected"
              [class.shadow-md]="method.selected"
              [class.border-orange-400]="method.selected"
              (click)="selectPaymentMethod(i)"> 
              <img [src]="method.icon" [alt]="method.fullName" class="w-full h-full object-cover">
          </button>
      
          <div class="mt-0 flex justify-center w-full col-span-3" *ngIf="selectedCard?.fullName === 'PayPal'">
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          </div>
      </div>
      
      <div *ngIf="selectedCard?.fullName === 'Apple Pay'" class="mt-4 flex justify-center w-full">
        <button 
          class="w-full max-w-md h-20 flex items-center justify-center bg-white text-black rounded-lg shadow-lg border border-gray-300"
          (click)="showApplePayModal()">
          <img src="assets/apple.jpg" alt="Apple Pay" class="h-10">
        </button>
      </div>      
    </div>    

      <fd-apple-pay-modal 
        [visible]="isApplePayVisible"
        (closeModal)="hideApplePayModal()">
     </fd-apple-pay-modal>

    <div class="bg-gradient-to-r from-pink-500 to-purple-500 p-6 rounded-2xl relative shadow-md w-full h-50 flex flex-col justify-between"
        *ngIf="selectedCard && selectedCard.fullName !== 'PayPal' && selectedCard.fullName !== 'Apple Pay'">

        <h2 class="text-sm font-semibold text-gray-200">Credit Card</h2>
    
        <div class="mt-2 text-lg font-bold tracking-widest flex justify-between">
            <span>{{ selectedCard.cardNumber?.slice(0, 4) || '****' }}</span>
            <span>{{ selectedCard.cardNumber?.slice(4, 8) || '****' }}</span>
            <span>{{ selectedCard.cardNumber?.slice(8, 12) || '****' }}</span>
            <span>{{ selectedCard.cardNumber?.slice(12, 16) || '****' }}</span>
        </div>
    
        <div class="flex justify-between items-center mt-2">
            <p class="text-gray-300 text-sm">{{ selectedCard.fullName || 'No Name' }}</p>
            <img [src]="selectedCard.icon" [alt]="selectedCard.fullName" class="w-10">
        </div>

    </div>
      
      <div class="flex justify-between items-center">
        <p class="text-lg font-semibold text-gray-300">Total Pay</p>
        <p class="text-lg font-bold">${{ total.toFixed(2) }} <span class="text-sm">USD</span></p>
      </div>
  
       <div class="flex justify-center mt-20">
          <button class="w-70 py-4 bg-orange-400 rounded-full text-white/90 font-semibold shadow-lg shadow-orange-500/30 tracking-widest hover:bg-orange-500 transition">
            CONFIRM ORDER
          </button>     
       </div> 
  
    </div>
  </div>
