<div *ngIf="restaurant$ | async as restaurant; else loading" class="flex flex-col justify-center pt-5 bg-[#2D2D3A]">
    <div class="flex justify-center items-center">
        <div class="relative rounded-2xl overflow-hidden w-90 h-65 pr-1">
            <img [src]="restaurant.imgUrl" alt="{{ restaurant.name }}" class="w-full h-full object-cover rounded-2xl" />   

            <button class="absolute top-2 left-2 bg-white px-4 py-1 rounded-full shadow-md hover:bg-gray-200 text-xl">
              &lt;
            </button>    

            <button class="absolute top-2 right-4 bg-[#FE724C] w-10 h-10 rounded-full shadow-md hover:bg-gray-200 flex items-center justify-center">
              <span class="text-white text-xl">❤</span>
            </button>      
          </div>
    </div>

    <div class="text-white p-4 rounded-md w-90 ml-2">
        <h2 class="text-3xl font-bold">{{restaurant.name}}</h2>
      
        <div class="flex items-center mt-2">
          <span class="text-yellow-400 text-lg">⭐</span>
          <span class="text-white font-semibold ml-1">{{restaurant.rating}}</span>
          <span class="text-gray-400 text-sm ml-1">({{restaurant.feedbacks | reviewFormatter}})</span>
          <a href="#" class="text-red-400 text-sm ml-2 underline">See Review</a>
        </div>
      
        <p class="text-2xl font-bold mt-2">$9.50</p>
      
        <p class="text-gray-400 text-sm mt-2">
          Brown the beef better. Lean ground beef – I like to use 85% lean angus.
          Garlic – use fresh chopped. Spices – chili powder, cumin, onion powder.
        </p>
    </div>
      
    <div class="text-white p-4 rounded-lg w-80 ml-2">
        <h2 class="text-lg font-bold mb-4">Choice of Add On</h2>
      
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center">
            <img src="assets/pepper.jpg" alt="Pepper julienned" class="w-10 h-10 rounded-full">
            <span class="ml-3">Pepper julienned</span>
          </div>
          <span class="font-semibold text-white">+$2.30</span>
        </div>
      
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center">
            <img src="assets/pepper.jpg" alt="Baby spinach" class="w-10 h-10 rounded-full">
            <span class="ml-3">Baby spinach</span>
          </div>
          <span class="font-semibold text-white">+$2.30</span>
        </div>
      
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <img src="assets/pepper.jpg" alt="Masroom" class="w-10 h-10 rounded-full">
            <span class="ml-3">Masroom</span>
          </div>
          <span class="font-semibold text-white">+$2.30</span>
        </div>  
    </div>   

    <div class="flex justify-center items-center p-10 rounded-lg">
        <button class="bg-[#FE724C] text-white font-semibold flex items-center px-6 py-3 rounded-full shadow-[0px_4px_15px_rgba(254,114,76,0.5)] 
                      hover:bg-[#fd5c34] transition-all">
            <span class="bg-white bg-opacity-20 p-2 rounded-full mr-4 flex items-center justify-center">
                <img src="/assets/bag-icon-button.png" alt="Lock" class="w-5 h-5 filter-orange">
            </span>
            ADD TO CART
        </button>
    </div>
</div>
  
  <ng-template #loading>
    <p class="text-center text-gray-500">Loading...</p>
  </ng-template>