<mat-card class="food-card" appearance="outlined">
    <div class="card-image">
      <img [src]="itemData.imgUrl" alt="Food image">
      <button mat-icon-button class="favorite-button" (click)="addToFavorites()">
        <mat-icon>favorite</mat-icon>
      </button>
      <ng-container *ngIf="itemData.price; else ratingTemplate">
        <p class="price">
          ${{ itemData.price }}
        </p>
      </ng-container>
      <ng-template #ratingTemplate>
        <p class="rating">
          {{ itemData.rating }}
          <mat-icon class="star-icon">star</mat-icon>
          <span class="exponent">({{ itemData.feedbacks | reviewFormatter }})</span>
        </p>
      </ng-template>
      <p *ngIf="itemData.price" class="rating-below">
        {{ itemData.rating }}
        <mat-icon class="star-icon">star</mat-icon>
        <span class="exponent">({{ itemData.feedbacks | reviewFormatter }})</span>
      </p>
    </div>
    
    <mat-card-content>
      <p>
        {{ itemData.name }}
        <mat-icon class="check-icon">check</mat-icon>
      </p>
      <div class="info-row" *ngIf="config.isDeliveryAndTimeVisible || config.isDescriptionVisible">
        <ng-container *ngIf="config.isDeliveryAndTimeVisible; else descriptionTemplate">
          <mat-icon class="delivery-icon">motorcycle</mat-icon>
          <span class="delivery-text">{{ itemData.delivery?.cost }}</span>
          <mat-icon class="time-icon">access_time</mat-icon>
          <span class="time-text">{{ itemData.delivery?.time }}</span>
        </ng-container> 
        <ng-template #descriptionTemplate>
          <span class="description-text">{{ itemData.description }}</span>
        </ng-template>
      </div>   
    </mat-card-content>
 
    <mat-card-footer>
      <mat-chip-set *ngIf="config.isTagsVisible">
        <mat-chip class="food-card" *ngFor="let category of itemData.categories">{{ category }}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>